<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bigdifficulticon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{134, 100}</string>
			<key>spriteSourceSize</key>
			<string>{134, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{619, 235}, {134, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>biggeneralicon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {134, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{134, 100}</string>
			<key>spriteSourceSize</key>
			<string>{134, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{619, 337}, {134, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exitselected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 77}</string>
			<key>spriteSourceSize</key>
			<string>{167, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 79}, {167, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>exitunselected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 77}</string>
			<key>spriteSourceSize</key>
			<string>{167, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 0}, {167, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameoverbg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {617, 476}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{617, 476}</string>
			<key>spriteSourceSize</key>
			<string>{617, 476}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {617, 476}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameovertext.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{124, 34}</string>
			<key>spriteSourceSize</key>
			<string>{124, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 478}, {124, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>getgem.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {99, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 96}</string>
			<key>spriteSourceSize</key>
			<string>{101, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{755, 235}, {99, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>getmoney.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {99, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 96}</string>
			<key>spriteSourceSize</key>
			<string>{101, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{755, 333}, {99, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>loseitem.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {165, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{167, 75}</string>
			<key>spriteSourceSize</key>
			<string>{167, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{619, 158}, {167, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>unlimitedover.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {162, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{162, 72}</string>
			<key>spriteSourceSize</key>
			<string>{162, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 439}, {162, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wavecontinueselected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 77}</string>
			<key>spriteSourceSize</key>
			<string>{167, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{619, 79}, {167, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wavecontinueunselected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{167, 77}</string>
			<key>spriteSourceSize</key>
			<string>{167, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 0}, {167, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winitem.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {167, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{167, 75}</string>
			<key>spriteSourceSize</key>
			<string>{167, 75}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{788, 158}, {167, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winstar1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 65}</string>
			<key>spriteSourceSize</key>
			<string>{66, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{957, 0}, {66, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>winstar2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {65, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 69}</string>
			<key>spriteSourceSize</key>
			<string>{71, 69}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{783, 431}, {71, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>

	        <key>metadata</key>
            <dict>
                <key>format</key>
                <integer>3</integer>
                <key>realTextureFileName</key>
                <string>gameoverui.png</string>
                <key>size</key>
                <string>{1024, 512}</string>
                <key>textureFileName</key>
                <string>gameoverui.png</string>
            </dict>

</dict>
</plist>