<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireseal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,114},{81,94}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{81,94}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>fireseal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,118}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>fireseal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,338},{67,84}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{67,84}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>fireseal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,98},{67,64}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>fireseal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,336},{67,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{67,62}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>fireseal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,205},{67,62}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{67,62}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>fireseal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,405},{65,62}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{65,62}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>monkeyskillquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,439},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>shizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,98},{44,56}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{44,56}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,170},{54,52}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{44,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{44,66}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,50},{46,64}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{46,64}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{46,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{46,64}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,274},{48,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{48,60}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,146},{48,46}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{48,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,224},{48,46}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{48,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,98},{50,46}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{50,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi18.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,50},{50,46}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{50,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi19.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{50,46}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{50,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,453},{46,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{46,56}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,164},{52,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{52,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi21.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,110},{52,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{52,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,56},{52,46}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{52,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi23.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{52,46}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi24.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,250},{54,44}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{54,44}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi25.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,194},{54,44}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{54,44}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi26.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,167},{36,30}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{36,30}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi27.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,298},{36,30}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{36,30}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi28.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,298},{38,30}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{38,30}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi29.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,298},{38,30}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{38,30}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{48,56}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{48,56}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi30.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,167},{40,30}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{40,30}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,58},{50,54}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{50,54}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,54}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{50,54}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,224},{52,54}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{52,54}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,200},{52,54}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{52,54}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,144},{54,54}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>shizi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,114},{54,54}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>tupiskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{111,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,106}}</string>
                <key>sourceSize</key>
                <string>{111,106}</string>
            </dict>
            <key>tuteng.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,424},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>unfreeze1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,416},{72,68}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{72,68}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,336},{78,72}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{78,72}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,210},{86,76}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{86,76}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{94,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{94,78}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,339},{98,74}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{98,74}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,235},{102,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{102,72}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{106,74}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{106,74}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{108,74}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{108,74}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
            <key>unfreeze9.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{110,74}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{110,74}}</string>
                <key>sourceSize</key>
                <string>{110,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>td1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9606b6a0f965c1d417275de9a2561d5d$</string>
            <key>textureFileName</key>
            <string>td1.png</string>
        </dict>
    </dict>
</plist>
