<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,435},{59,92}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{59,92}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,315},{57,94}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,94}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{57,92}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,92}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down12.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,846},{57,84}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{57,84}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,856},{55,78}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{55,78}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,556},{59,88}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,19},{59,88}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,932},{57,84}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{57,84}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,853},{55,82}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,36},{55,82}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,796},{55,84}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,34},{55,84}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,746},{57,84}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{57,84}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,615},{57,88}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{57,88}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,556},{57,90}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{57,90}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_down9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{59,94}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{59,94}}</string>
                <key>sourceSize</key>
                <string>{69,118}</string>
            </dict>
            <key>dead_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,297},{59,95}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{59,95}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right10.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,360},{71,93}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{71,93}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,661},{83,87}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{83,87}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,62},{97,71}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{97,71}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right13.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,122},{97,59}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{97,59}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{51,95}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{51,95}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,495},{59,91}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,6},{59,91}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,594},{65,89}}</string>
                <key>offset</key>
                <string>{36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,10},{65,89}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,601},{63,89}}</string>
                <key>offset</key>
                <string>{36,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,12},{63,89}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,537},{55,91}}</string>
                <key>offset</key>
                <string>{31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,11},{55,91}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,303},{51,95}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,8},{51,95}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,122},{53,97}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,6},{53,97}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_right9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{63,97}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,6},{63,97}}</string>
                <key>sourceSize</key>
                <string>{137,103}</string>
            </dict>
            <key>dead_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{63,89}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{63,89}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up10.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,680},{59,83}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{59,83}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up11.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,765},{59,79}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,54},{59,79}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up12.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,731},{59,75}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,69},{59,75}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up13.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,962},{57,75}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,70},{57,75}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,666},{63,87}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{63,87}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,418},{59,93}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{59,93}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,418},{59,93}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,374},{59,93}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,674},{61,87}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{61,87}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up8.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,617},{61,87}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{61,87}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>dead_up9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{61,87}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{61,87}}</string>
                <key>sourceSize</key>
                <string>{73,145}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,195},{58,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,300},{58,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,94}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,479},{56,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,92}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,433},{60,92}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,92}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,243},{58,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill14.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,237},{58,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill15.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,255},{58,94}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,94}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill16.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,496},{58,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill17.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,740},{56,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{56,86}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill18.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,846},{56,84}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{56,84}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill19.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,798},{56,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{56,82}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,356},{60,94}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,94}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill20.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,863},{56,80}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,37},{56,80}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill21.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,962},{56,76}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,43},{56,76}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill22.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,962},{56,76}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,44},{56,76}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill23.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,962},{56,76}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,44},{56,76}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill24.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,731},{56,74}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{56,74}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{56,74}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{56,74}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill26.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,846},{56,72}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,48},{56,72}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill27.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,904},{56,76}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,42},{56,76}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill28.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,805},{56,82}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{56,82}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill29.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,680},{58,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{58,86}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,479},{58,92}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{58,92}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill30.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,182},{58,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill31.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,135},{58,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{58,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill33.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,183},{58,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill34.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,177},{58,96}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill35.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,62},{58,98}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill36.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,62},{58,98}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill37.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,62},{58,98}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{58,98}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill39.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{58,98}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,358},{58,94}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{58,94}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill40.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{58,98}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,100}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,100}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill42.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{58,98}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill43.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{58,98}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{58,98}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill44.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,122},{58,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,120}</string>
            </dict>
            <key>skill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,242},{56,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{56,96}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{60,90}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{60,90}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{58,84}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{58,84}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,539},{60,90}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{60,90}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>skill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{58,96}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,96}}</string>
                <key>sourceSize</key>
                <string>{66,100}</string>
            </dict>
            <key>up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,932},{57,84}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{57,84}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{57,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{57,84}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
            <key>up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,737},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,86}}</string>
                <key>sourceSize</key>
                <string>{61,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deer1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3ef587e026a5d77f35a24eaba0e6e08$</string>
            <key>textureFileName</key>
            <string>deer1.png</string>
        </dict>
    </dict>
</plist>
