<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>skill13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 16}, {106, 99}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{106, 99}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 319}, {106, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 16}, {96, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{96, 99}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 216}, {96, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 18}, {90, 97}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{90, 97}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 111}, {90, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 18}, {84, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{84, 97}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 111}, {84, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 18}, {88, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{88, 95}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 210}, {88, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 16}, {100, 99}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{100, 99}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 319}, {100, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 13}, {116, 101}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{116, 101}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 216}, {116, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 10}, {134, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{134, 101}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 325}, {134, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 4}, {132, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 107}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 105}, {132, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {126, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{126, 109}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 214}, {126, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {128, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{128, 109}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 105}, {128, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {132, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{132, 109}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 0}, {132, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {148, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{148, 103}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {148, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>skill33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 12}, {144, 103}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{144, 103}</string>
			<key>spriteSourceSize</key>
			<string>{148, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 0}, {144, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>stone2.png</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>realTextureFileName</key>
        <string>stone2.png</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>stone2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>stone2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>