<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoqiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,136},{91,132}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{91,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,540},{87,134}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{87,134}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,404},{113,134}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{113,134}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{105,134}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{105,134}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,138},{91,132}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{91,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{87,126}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{87,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{91,130}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{91,130}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,404},{91,132}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,404},{91,132}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{91,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,272},{91,130}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{91,130}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,398},{99,126}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{99,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,270},{101,126}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{101,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,140},{91,136}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{91,136}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,276},{113,126}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{113,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,783},{115,128}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{115,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,783},{113,128}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{113,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,676},{105,128}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{105,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{91,136}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{91,136}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,142},{91,136}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{91,136}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{91,132}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{91,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,134},{99,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{99,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,899},{101,122}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{101,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,538},{111,128}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{111,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>biaoqiang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,540},{115,132}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{115,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{83,136}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{83,136}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{89,120}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{89,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,652},{87,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{87,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,783},{81,130}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{81,130}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,404},{87,140}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{87,140}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{87,138}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{87,138}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,404},{77,128}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,534},{75,128}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,404},{75,128}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,534},{75,128}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_0gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,130},{79,126}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{79,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,278},{111,124}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{111,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,891},{83,124}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{83,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,124},{89,118}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{89,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,280},{107,122}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,140},{109,134}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{109,134}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,546},{99,138}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{99,138}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,382},{75,122}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{75,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,487},{75,120}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{75,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,564},{75,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{75,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,325},{75,118}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{75,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_135gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,771},{77,126}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{77,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,913},{109,126}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{109,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{77,126}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,8},{77,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,262},{81,126}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{81,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,915},{107,126}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{107,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,686},{95,128}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,6},{95,128}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,668},{101,126}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{101,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,516},{79,122}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{79,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,130},{81,122}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{81,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,254},{83,120}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{83,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,258},{81,122}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{81,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_270gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,526},{79,124}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{79,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,913},{109,120}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{109,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,390},{77,124}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{77,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{81,122}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{81,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,674},{107,118}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{107,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,765},{95,124}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{95,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,664},{99,124}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{99,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,244},{79,118}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{79,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,859},{81,116}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{81,116}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,741},{83,116}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{83,116}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,402},{83,116}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,10},{83,116}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_90gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,506},{77,120}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{77,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>yuebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{236,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{236,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>yueguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{64,377}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{64,377}}</string>
                <key>sourceSize</key>
                <string>{80,385}</string>
            </dict>
            <key>yueguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,400}}</string>
                <key>sourceSize</key>
                <string>{120,400}</string>
            </dict>
            <key>yueguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,126},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrowhero2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e4a9435334bfcf05e839fff3693ade9$</string>
            <key>textureFileName</key>
            <string>arrowhero2.png</string>
        </dict>
    </dict>
</plist>
