<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bq_180gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{83,132}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{83,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{87,122}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{87,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,394},{87,126}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{87,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,942},{79,130}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{79,130}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,260},{87,126}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{87,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{85,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{85,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,126},{75,114}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{75,114}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,372},{73,116}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{73,116}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,884},{73,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{73,114}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{73,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{73,114}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_180gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,376},{79,118}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{79,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{77,132}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{77,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{77,130}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,6},{77,130}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,542},{69,132}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,4},{69,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,676},{73,132}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{73,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{89,132}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{89,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,530},{99,126}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{99,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,614},{83,112}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{83,112}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,490},{81,112}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{81,112}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,242},{77,112}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{77,112}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,363},{79,112}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{79,112}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_225gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,640},{87,120}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{87,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,670},{113,126}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{113,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,510},{85,120}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{85,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,896},{91,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{91,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,774},{107,120}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{107,120}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,134}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{111,134}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{101,132}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{101,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{75,124}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{75,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,516},{77,122}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{77,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,650},{77,122}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{77,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,786},{77,122}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{77,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_315gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{81,122}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{81,122}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{77,132}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{77,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,252},{77,118}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{77,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,126},{69,118}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{69,118}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,676},{73,130}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{73,130}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{91,134}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{91,134}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,138},{99,132}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{99,132}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,938},{83,124}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{83,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,658},{79,126}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{79,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,388},{75,126}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{75,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,522},{77,126}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{77,126}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bq_45gj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,260},{85,124}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{85,124}}</string>
                <key>sourceSize</key>
                <string>{141,154}</string>
            </dict>
            <key>bqbaoqi_front1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,386},{74,122}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{74,122}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front10.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,728},{72,112}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{72,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,118},{76,112}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{76,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front12.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,496},{82,116}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{82,116}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front13.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,128},{98,122}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{98,122}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front14.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,798},{104,126}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{104,126}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front15.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{104,126}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front16.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,132},{104,126}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front17.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,266},{104,126}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{104,128}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front19.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,136},{104,128}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,762},{72,120}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{72,120}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front20.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,272},{104,128}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front21.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,540},{104,128}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front22.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,810},{104,130}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,130}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front23.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,408},{106,130}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,130}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front24.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,808},{110,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front25.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,402},{106,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front26.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,926},{96,126}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front27.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,130},{82,124}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{82,124}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front28.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,252},{72,122}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{72,122}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,753},{72,114}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{72,114}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,232},{72,112}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{72,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front5.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,356},{72,112}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{72,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front6.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,869},{74,112}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{74,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front7.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{74,112}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{74,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front8.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,477},{72,112}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{72,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqbaoqi_front9.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,604},{72,112}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{72,112}}</string>
                <key>sourceSize</key>
                <string>{110,134}</string>
            </dict>
            <key>bqfail_front1.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,632},{73,119}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{73,119}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front10.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,525},{75,99}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{75,99}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front11.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,148},{75,99}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{75,99}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,246},{71,115}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,115}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{71,111}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{71,111}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front4.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,75},{71,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{71,109}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front5.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,225},{73,107}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{73,107}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front6.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,300},{73,105}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{73,105}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front7.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,450},{73,103}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{73,103}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front8.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,375},{73,103}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{73,103}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>bqfail_front9.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,148},{75,101}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{75,101}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>feralrage.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>qiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,910},{82,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,13}}</string>
                <key>sourceSize</key>
                <string>{82,13}</string>
            </dict>
            <key>qiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,942},{80,5}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{80,5}}</string>
                <key>sourceSize</key>
                <string>{82,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrowhero1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:855775beb66ecb1e829b243b90699a25$</string>
            <key>textureFileName</key>
            <string>arrowhero1.png</string>
        </dict>
    </dict>
</plist>
