<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>firebrand1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{171, 347}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firebrand2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {78, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 76}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 347}, {78, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firebrand3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 80}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 327}, {80, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firebrand4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {84, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{84, 84}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 426}, {84, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firebrand5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 426}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firebrand6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {82, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{82, 82}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 423}, {82, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firebrand7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {78, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 78}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{329, 271}, {78, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>firebrand8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {74, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{74, 74}</string>
			<key>spriteSourceSize</key>
			<string>{86, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 416}, {74, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gress1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {31, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{31, 37}</string>
			<key>spriteSourceSize</key>
			<string>{31, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 61}, {31, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gress2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 15}</string>
			<key>spriteSourceSize</key>
			<string>{24, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 145}, {24, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gress3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 20}</string>
			<key>spriteSourceSize</key>
			<string>{28, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 100}, {28, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gress4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 21}</string>
			<key>spriteSourceSize</key>
			<string>{24, 21}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 122}, {24, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icecrystal1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {91, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{91, 104}</string>
			<key>spriteSourceSize</key>
			<string>{91, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 241}, {91, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icecrystal2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 79}</string>
			<key>spriteSourceSize</key>
			<string>{85, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 409}, {85, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>icecrystal3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 72}</string>
			<key>spriteSourceSize</key>
			<string>{80, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 271}, {80, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snowdrift1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 117}</string>
			<key>spriteSourceSize</key>
			<string>{197, 117}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 61}, {197, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snowdrift2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {151, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{151, 67}</string>
			<key>spriteSourceSize</key>
			<string>{151, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 0}, {151, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snowdrift3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 79}</string>
			<key>spriteSourceSize</key>
			<string>{177, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 69}, {177, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snowdrift4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 107}</string>
			<key>spriteSourceSize</key>
			<string>{190, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{301, 162}, {190, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stakes1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 61}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>stakes2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 120}</string>
			<key>spriteSourceSize</key>
			<string>{89, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {89, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 120}</string>
			<key>spriteSourceSize</key>
			<string>{97, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 163}, {97, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tree2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 122}</string>
			<key>spriteSourceSize</key>
			<string>{96, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 180}, {96, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>watergress11_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {348, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{348, 59}</string>
			<key>spriteSourceSize</key>
			<string>{348, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {348, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>watergress1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 29}</string>
			<key>spriteSourceSize</key>
			<string>{93, 29}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 180}, {93, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>watergress1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 40}</string>
			<key>spriteSourceSize</key>
			<string>{83, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 285}, {83, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>watergress9_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {93, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{93, 28}</string>
			<key>spriteSourceSize</key>
			<string>{93, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 211}, {93, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wood.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 69}</string>
			<key>spriteSourceSize</key>
			<string>{77, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 345}, {77, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>mapicon3</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>mapicon3</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>mapicon3</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>